@-webkit-keyframes team_animation {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(-5px, -5px);
                transform: translate(-5px, -5px);
    }
    100% {
        -webkit-transform: translate(-10px, -10px);
                transform: translate(-10px, -10px);
    }
}

@keyframes team_animation {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(-5px, -5px);
                transform: translate(-5px, -5px);
    }
    100% {
        -webkit-transform: translate(-10px, -10px);
                transform: translate(-10px, -10px);
    }
}
